#Ignore
Measurements/*
Analyses/*
Processing/docs
*~

#Allow
!Measurements/_templateMeasurement
!Measurements/template_mastersheet.xlsx
!Analyses/_templateAnalysis/config.xlsx
!Analyses/_templateAnalysis/analyse.m
